@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    
    /* ... other light mode variables ... */
  }

  .dark {
    --background: 0 0% 0%; /* Changed this to 0% lightness for true black */
    --foreground: 210 40% 98%;
    
    /* ... other dark mode variables ... */
  }
}

@layer components {
  /* Define the custom border class */
  .border-border {
    @apply border;
    border-color: hsl(var(--border));
  }
}

body {
  @apply bg-background text-foreground;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}